// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// document.getElementById("typediv1").style.visibility="hidden";
.powered-by {
  display:none;
}
.copyright-license-text {
  display:block !important;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
}
.home-section.light a {
  color: #000000;
}